table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
 }
 
 /*datatables button spacing*/
 div.dataTables_length {
   margin-right: 1em;
 }
 /*datatables searchpanes filters height*/
 div.dtsp-searchPane div.dataTables_scrollBody {
   height: 130px !important;
 }
 